html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-div {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo-bir {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-iki {
  font-family: "Raleway";
  color: #2e2f42;
}
.nav-ul {
  display: flex;
  gap: 40px;
}
.nav-ul li {
  list-style-type: none;
}

.nav-links {
  font-family: "Roboto";
  color: #2e2f42;
  font-weight: 500;
  text-decoration: none;
  list-style-type: none;
  padding: 24px 0;
}

.nav-links:hover,
.nav-links:focus {
  text-decoration: underline;
  color: #404bbf;
}
.nav-links:visited {
  text-decoration: none;
}
.address {
  font-family: "Roboto";
  text-decoration: none;
  font-size: medium;
  font-weight: 400;
  font-style: normal;
}
.address-ul {
  color: #434455;
  text-decoration: none;
  font-weight: 400;
  list-style-type: none;
  display: flex;
  gap: 40px;
}
.address-ul li {
  color: #434455;
  text-decoration: none;
  font-weight: 400;
}
.address-links {
  font-style: normal;
  color: #434455;
  text-decoration: none;
}
.address-links:hover,
.address-links:focus {
  text-decoration: underline;
  color: #404bbf;
}
.address-links:visited {
  text-decoration: none;
}
.section-bir {
  background-color: #2e2f42;
  padding: 188px 0;
}
h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 290px;
}

button {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}
button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}
.section-iki {
  padding: 120px 0;
}
.visually-hidden {
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.sectioniki-ul {
  display: flex;
  gap: 24px;
  /* width: calc((100% - 72px) / 4); */
}
.section-iki .ikincisec-list {
  flex-basis: calc((100% - 72px) / 4);
  list-style: none;
}
.huc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.section-uc {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
  list-style: none;
}
.section-uc .team-member {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.info {
  padding: 32px 0;
}
.team-info {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-infoiki {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.op-block {
  padding: 120px 0;
}
.title-op {
  margin-bottom: 72px;
  text-align: center;
}
.op-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
}
.op-block .op-items {
  width: calc((100% - 48px) / 3);
}
.op-items-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
  width: 360px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
  margin-bottom: 16px;
}
.footer-p {
  color: #f4f4fd;
  max-width: 264px;
}
span {
  color: #f4f4fd;
}
